![dvd_image](dvd_image.jpg)

A DVD rental company needs your help! They want to figure out how many days a customer will rent a DVD for based on some features and has approached you for help. They want you to try out some regression models which will help predict the number of days a customer will rent a DVD for. The company wants a model which yeilds a MSE of 3 or less on a test set. The model you make will help the company become more efficient inventory planning.

The data they provided is in the csv file `rental_info.csv`. It has the following features:
- `"rental_date"`: The date (and time) the customer rents the DVD.
- `"return_date"`: The date (and time) the customer returns the DVD.
- `"amount"`: The amount paid by the customer for renting the DVD.
- `"amount_2"`: The square of `"amount"`.
- `"rental_rate"`: The rate at which the DVD is rented for.
- `"rental_rate_2"`: The square of `"rental_rate"`.
- `"release_year"`: The year the movie being rented was released.
- `"length"`: Lenght of the movie being rented, in minuites.
- `"length_2"`: The square of `"length"`.
- `"replacement_cost"`: The amount it will cost the company to replace the DVD.
- `"special_features"`: Any special features, for example trailers/deleted scenes that the DVD also has.
- `"NC-17"`, `"PG"`, `"PG-13"`, `"R"`: These columns are dummy variables of the rating of the movie. It takes the value 1 if the move is rated as the column name and 0 otherwise. For your convinience, the reference dummy has already been dropped.

In [82]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

# Import any additional modules and start coding below

In [83]:
# Read and understand the file

dvd_rent = pd.read_csv("rental_info.csv")
print(dvd_rent.head())
print(dvd_rent.dtypes)

'''
Cleaning Task
1. change the rental/return date data type
2. 
'''

                 rental_date  ... rental_rate_2
0  2005-05-25 02:54:33+00:00  ...        8.9401
1  2005-06-15 23:19:16+00:00  ...        8.9401
2  2005-07-10 04:27:45+00:00  ...        8.9401
3  2005-07-31 12:06:41+00:00  ...        8.9401
4  2005-08-19 12:30:04+00:00  ...        8.9401

[5 rows x 15 columns]
rental_date          object
return_date          object
amount              float64
release_year        float64
rental_rate         float64
length              float64
replacement_cost    float64
special_features     object
NC-17                 int64
PG                    int64
PG-13                 int64
R                     int64
amount_2            float64
length_2            float64
rental_rate_2       float64
dtype: object

'\nCleaning Task\n1. change the rental/return date data type\n2. \n'

In [84]:
# Changing the data type of rental/return data column
dvd_rent["rental_date"] = pd.to_datetime(dvd_rent["rental_date"])
dvd_rent["return_date"] = pd.to_datetime(dvd_rent["return_date"])

# checking the info again
dvd_rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15861 entries, 0 to 15860
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rental_date       15861 non-null  datetime64[ns, UTC]
 1   return_date       15861 non-null  datetime64[ns, UTC]
 2   amount            15861 non-null  float64
 3   release_year      15861 non-null  float64
 4   rental_rate       15861 non-null  float64
 5   length            15861 non-null  float64
 6   replacement_cost  15861 non-null  float64
 7   special_features  15861 non-null  object
 8   NC-17             15861 non-null  int64
 9   PG                15861 non-null  int64
 10  PG-13             15861 non-null  int64
 11  R                 15861 non-null  int64
 12  amount_2          15861 non-null  float64
 13  length_2          15861 non-null  float64
 14  rental_rate_2     15861 non-null  float64
dtypes: datetime64[ns, UTC](2), float64(8), int64(4), object(1)
memory usage: 1.8+ MB

In [85]:
# creating the "rental_length_days" and convert the timestamp format to day
dvd_rent["rental_length_days"] = (dvd_rent["return_date"] - dvd_rent["rental_date"]).dt.days
dvd_rent.head()

                rental_date  ... rental_length_days
0 2005-05-25 02:54:33+00:00  ...                  3
1 2005-06-15 23:19:16+00:00  ...                  2
2 2005-07-10 04:27:45+00:00  ...                  7
3 2005-07-31 12:06:41+00:00  ...                  2
4 2005-08-19 12:30:04+00:00  ...                  4

[5 rows x 16 columns]

In [86]:
# Create dummy variables column - "deleted_scenes" / "behind_the_scenes"
dvd_rent["deleted_scenes"] = np.where(dvd_rent["special_features"].str.contains("Deleted Scenes"), 1, 0)
dvd_rent["behind_the_scenes"] = np.where(dvd_rent["special_features"].str.contains("Behind the Scenes"), 1, 0)

dvd_rent.head()

                rental_date  ... behind_the_scenes
0 2005-05-25 02:54:33+00:00  ...                 1
1 2005-06-15 23:19:16+00:00  ...                 1
2 2005-07-10 04:27:45+00:00  ...                 1
3 2005-07-31 12:06:41+00:00  ...                 1
4 2005-08-19 12:30:04+00:00  ...                 1

[5 rows x 18 columns]

In [87]:
# Selecting the feature and target column
dvd_rent.columns
to_drop = ["special_features", "rental_date", "return_date", "rental_length_days"]

X = dvd_rent.drop(columns=to_drop)
y = dvd_rent["rental_length_days"]

# splitting the data into train and test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=9)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(12688, 14) (3173, 14) (12688,) (3173,)

In [88]:
# Training the first model - Lasso model

from sklearn.linear_model import Lasso

lasso = Lasso(alpha=0.3, random_state=9)
lasso.fit(X_train, y_train)
lasso_coef = lasso.coef_

# Perform feature selection by selecting the the columns with '+' coefficients

X_lasso_train, X_lasso_test = X_train.iloc[:, lasso_coef > 0], X_test.iloc[:, lasso_coef > 0]

# Run OLS models on chosen lasso regression
ols = LinearRegression()
ols = ols.fit(X_lasso_train, y_train)
y_test_pred = ols.predict(X_lasso_test)
mse_lin_reg_lasso = mean_squared_error(y_test, y_test_pred)
print(mse_lin_reg_lasso)

4.812297241276244

In [89]:
# Training the Second model - Random Forest hyperparameter space model

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV

param_dist = {"n_estimators": np.arange(1, 101, 1),
             "max_depth": np.arange(1, 11, 1)}

#instantiate the model
rf = RandomForestRegressor()

# use rand_search to find the best hyperparameters
rand_search = RandomizedSearchCV(rf, param_distributions=param_dist, cv=5, random_state=9)

# Fit the random search object to the data
rand_search.fit(X_train, y_train)

# Create a variable for the best hyper param
hyper_params = rand_search.best_params_

# Run the random forest on the chosen hyper parameters
rf = RandomForestRegressor(n_estimators=hyper_params["n_estimators"],
                          max_depth=hyper_params["max_depth"],
                          random_state=9)

rf.fit(X_train, y_train)
rf_pred = rf.predict(X_test)
mse_rf = mean_squared_error(y_test, rf_pred)
print(mse_rf)

2.225667528098759

In [90]:
print(hyper_params)

{'n_estimators': 51, 'max_depth': 10}

In [91]:
# Choosing which one is the best model
best_model = ""
best_mse = ""

if mse_lin_reg_lasso < mse_rf:
    best_model = "Linear Regression"
    best_mse = mse_lin_reg_lasso
    print(f"Linear Regresion is the best model: {best_mse}")
else:
    best_model = "Random Forest"
    best_mse = mse_rf
    print(f"Random Forest is the best model: {best_mse}")
          
# Random forest gives lowest MSE so:
best_model = rf
best_mse = mse_rf

Random Forest is the best model: 2.225667528098759